{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}

       {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}
   <form class="container" action="{{ path('login') }}" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>

        <label for="username" class="form-label">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>
        <label for="inputPassword" class="form-label">Mot de passe</label>
       <div class="input-group">
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
        <span role="button" class="input-group-text" onclick="togglePassword()">
			<i class="bi bi-eye" id="eye"></i>
			<i class="bi bi-eye-slash d-none" id="eye-slash"></i>

		</span>
       </div>
         <input type="hidden" name="_target_path" value="/">
         <input type="hidden" name="_crf_token" value="{{ csrf_token('authenticate') }}">
         <input type="submit" value="Connexion" class="btn btn-success mt-2">
         
   </form>
    <a href="/user/new" class="btn btn-link">Vous n'avez pas encore de compte ?</a>

{#
      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
      See https://symfony.com/doc/current/security/remember_me.html

      <div class="checkbox mb-3">
          <label>
              <input type="checkbox" name="_remember_me"> Remember me
          </label>
      </div>

      #}
{% endblock %}