{% extends 'base.html.twig' %}

{% block title %}Menu!{% endblock %}

{% block body %}
    <div class=" container-fluid">
    {% for menu in menus %} 
        <div class="menu">
            {% if menu.title %}
            <h2 class="menu-group-heading">{{ menu.title }}
                
            </h2>
            {% endif %}
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="{{ asset('uploads/plat1.jpg') }}" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Bruschetta</span>
                            {% if menu.price %}
                            <span class="menu-item-price">{{ menu.price }}€</span>
                        </h3>
                        {% endif %}
                        {% if menu.description %}
                        <p class="menu-item-description">
                            {{ menu.description }}
                        </p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="{{ asset('uploads/plat2.jpg') }}" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">

                            <span class="menu-item-name">menu</span>
                            <span class="menu-item-price">12.90€</span>
                        </h3>
                        <p class="menu-item-description">
                            Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
                            congue eu mauris nec, pretium tincidunt nulla.
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="menu-group-heading">
                Dessert
            </h2>
            <div class="menu-group">
                <div class="menu-item">
                    <img class="menu-item-image" src="{{ asset('uploads/resto1 (2).jpg') }}" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Bruschetta</span>
                            <span class="menu-item-price">12.90€</span>
                        </h3>
                        <p class="menu-item-description">
                            Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
                            congue eu mauris nec, pretium tincidunt nulla.
                        </p>
                    </div>
                </div>
                <div class="menu-item">
                    <img class="menu-item-image" src="https://dummyimage.com/600x400/00f/000" alt="Bruschetta">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name">Bruschetta</span>
                            <span class="menu-item-price">12.90€</span>
                        </h3>
                        <p class="menu-item-description">
                            Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
                            congue eu mauris nec, pretium tincidunt nulla.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
{% endblock %}
